<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h2>List a Puppy</h2>
  <form action="/new" method="/post">
    <input type="text" name="name"  placeholder="Enter name" /><br>
    <input type="text" name="breed" placeholder="Enter breed"/><br>
    <input type="text" name="age"   placeholder="Enter age"  /><br>
    <input type="submit"/>
  </form>
</body>
</html>