<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h2></h2>
  <form>
    <label for="name">Name</label>
    <input type="text"/>
    <label for="breed">Breed</label>
    <input/>
    <label for="age">Age</label>
    <input/>
  </form>
</body>
</html>