<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Puppy Adoption Site</title>
</head>
<body>
  <h2>Puppy</h2>
    <p>Puppy Name: <%=@puppy.name%></p>
    <p>Puppy Breed: <%=@puppy.breed%></p>
    <p>Puppy Age: <%=@puppy.age.to_s%></p>
</body>
</html>